<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin" title="Admin Config">
                <resource id="Tsum_CashFlow::storage" title="Storage">
                    <resource id="Tsum_CashFlow::storage_config" title="Storage options" />
                </resource>
                <resource id="Tsum_CashFlow::cfitem" title="Cash Flow Item">
                    <resource id="Tsum_CashFlow::cfitem_config" title="Cash Flow Item options" />
                </resource>
                <resource id="Tsum_CashFlow::incomes" title="Incomes and Transfers"/>
            </resource>
        </resources>
    </acl>
</config>
