<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--  @todo move it to the knowledge module -->
    <type name="Magento\Catalog\Helper\Product\Flat\Indexer">
        <plugin name="tsum_define_flat_attribute" type="Tsum\CashFlow\Plugin\Product\Flat\Indexer"/>
    </type>
    <!-- -->

</config>
