<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tsum\CashFlowImport\Api\Data\StagingSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="Tsum\CashFlowImport\Api\Data\StagingInterface" type="Tsum\CashFlowImport\Model\Staging" />

    <preference for="Tsum\CashFlowImport\Api\StagingRepositoryInterface" type="Tsum\CashFlowImport\Model\StagingRepository" />


    <!--  Data provider settings  START -->
    <virtualType name="Tsum\CashFlowImport\Staging\Model\ResourceModel\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tsum_cf_staging</argument>
            <argument name="resourceModel" xsi:type="string">Tsum\CashFlowImport\Model\ResourceModel\Staging</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">

                <item name="staging_grid_list_data_source" xsi:type="string">
                    Tsum\CashFlowImport\Staging\Model\ResourceModel\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <!--  Data provider settings  END -->
</config>
