<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Tsum\CashFlow\CfItemIn"
                 type="Tsum\CashFlow\Model\Source\CfItem">
        <arguments>
            <argument name="cfType" xsi:type="string">IN</argument>
            <argument name="onlyActive" xsi:type="boolean">1</argument>
        </arguments>
    </virtualType>
    <virtualType name="Tsum\CashFlow\CfItemOut"
                 type="Tsum\CashFlow\Model\Source\CfItem">
        <arguments>
            <argument name="cfType" xsi:type="string">OUT</argument>
            <argument name="onlyActive" xsi:type="boolean">1</argument>
        </arguments>
    </virtualType>

    <virtualType name="Tsum\CashFlow\OnlyActiveStorage"
                 type="Tsum\CashFlow\Model\Source\Storage">
        <arguments>
            <argument name="onlyActive" xsi:type="boolean">1</argument>
        </arguments>
    </virtualType>

    <!-- Admin theme. Start -->
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Tsum/cf-theme</item>
            </argument>
        </arguments>
    </type>
    <!-- Admin theme. End -->
</config>
