<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--  Data provider settings  START -->
    <virtualType name="Tsum\CashFlow\CfItem\DataProvider\SearchResult"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tsum_cf_item</argument>
            <argument name="resourceModel" xsi:type="string">Tsum\CashFlow\Model\ResourceModel\CfItem</argument>
        </arguments>
    </virtualType>
    <virtualType name="Tsum\CashFlow\Incomes\DataProvider\SearchResult"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tsum_cf_incomes</argument>
            <argument name="resourceModel" xsi:type="string">Tsum\CashFlow\Model\ResourceModel\Incomes</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_cfitem_list_data_source" xsi:type="string">Tsum\CashFlow\CfItem\DataProvider\SearchResult</item>
                <item name="incomes_data_source" xsi:type="string">Tsum\CashFlow\Incomes\DataProvider\SearchResult</item>
            </argument>
        </arguments>
    </type>
    <!--  Data provider settings  END -->
    <virtualType name="Tsum\CashFlow\CfItemIn"
                 type="Tsum\CashFlow\Model\Source\CfItem">
        <arguments>
            <argument name="cfType" xsi:type="string">IN</argument>
        </arguments>
    </virtualType>
    <preference for="Magento\Sales\Block\Adminhtml\Order\Create\Search\Grid"
               type="Tsum\CashFlow\Block\Adminhtml\Order\Create\Search\Grid"/>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="storage_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Tsum\CashFlow\UI\DataProvider\Product\Form\Modifier\StorageAttributes</item>
                    <item name="sortOrder" xsi:type="number">1000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="tsum_cf_items_set_to_quote" type="Tsum\CashFlow\Plugin\Quote\Model\Quote" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="tsum_separated_quote_items_rows_by_cf_items" type="Tsum\CashFlow\Plugin\Quote\Model\Item" />
    </type>
    <!-- Admin theme. Start -->
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Tsum/cf-theme</item>
            </argument>
        </arguments>
    </type>
    <!-- Admin theme. End -->
</config>