<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="Magento\Sales\Block\Adminhtml\Order\Create\Search\Grid"
               type="Tsum\CashFlow\Block\Adminhtml\Order\Create\Search\Grid"/>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="storage_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Tsum\CashFlow\UI\DataProvider\Product\Form\Modifier\StorageAttributes</item>
                    <item name="sortOrder" xsi:type="number">1000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="tsum_cf_items_set_to_quote" type="Tsum\CashFlow\Plugin\Quote\Model\Quote" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="tsum_separated_quote_items_rows_by_cf_items" type="Tsum\CashFlow\Plugin\Quote\Model\Item" />
    </type>
    <!-- Admin theme. Start -->
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Tsum/cf-theme</item>
            </argument>
        </arguments>
    </type>
    <!-- Admin theme. End -->
</config>